{% extends "parent/main.html" %}
{% block title %} Account dashboard {{ super }} {% endblock %}
{% block body %}
    {% load static %}
    <!-- Start All Title Box-->
        <div class="all-title-box" style="background-image: url({% static 'img/backBook.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>My Account</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'product' %}">Shop</a></li>
                        <li class="breadcrumb-item active">My Account</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->
    <!-- Start My Account  -->
    <div class="my-account-box-main">
        <div class="container">
            <div class="my-account-page">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="account-box">
                            <div class="service-box">
                                <div class="service-icon">
                                    <a href="{% url 'logout'%}"> <i class="fa fa-door-open"></i> </a>
                                </div>
                                <div class="service-desc">
                                    <h4>Logout</h4>
                                    <p>Exit current account</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="account-box">
                            <div class="service-box">
                                <div class="service-icon">
                                    <a href="{% url 'product' %}"><i class="fa fa-shopping-basket"></i> </a>
                                </div>
                                <div class="service-desc">
                                    <h4>Buy</h4>
                                    <p>Watch available products</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="account-box">
                            <div class="service-box">
                                <div class="service-icon">
                                    <a href="{% url 'cart' %}"> <i class="fa fa-shopping-cart"></i> </a>
                                </div>
                                <div class="service-desc">
                                    <h4>Basket</h4>
                                    <p>View shopping basket</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="account-box">
                            <div class="service-box">
                                <div class="service-icon">
                                    <a href="{% url 'listFactors' %}"> <i class="fa fa-clipboard-list"></i> </a>
                                </div>
                                <div class="service-desc">
                                    <h4>Factor</h4>
                                    <p>View factors</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
    <!-- End My Account -->